extends layout

block content
  h1= title
  p 使用者ID: <strong>#{pid}</strong> 專案ID: <strong>#{uid}</strong> server存檔時間:<strong>#{time}</strong>
  p 在  <strong>#{cName}</strong>  類別下的   <strong>#{iName}</strong>   檔案大小: <strong>#{photoSize}</strong>bytes
  p client MD5:   <strong>#{cSum}</strong> 
  p server MD5:   <strong>#{sSum}</strong>
  p firebase token:<strong>#{ftoken}</strong>
  img(src=imgpath)