body,input,button,select,textarea{
font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
font-size:108%;
}

a {
  color: #00B7FF;
}
.fixed-panel {
  min-height: 300px;

}
.newcat{border:dashed 2px #6576a8;-moz-border-radius-topleft: 7px; -moz-border-radius-topright:7px; -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -webkit-border-top-left-radius:7px; -webkit-border-top-right-radius:7px; -webkit-border-bottom-left-radius:7px;-webkit-border-bottom-right-radius:7px;border-top-left-radius:7px; border-top-right-radius:7px; border-bottom-left-radius:7px;border-bottom-right-radius:7px;padding-top:4px;}
