
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-show="!signupView">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">使用者登入</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a ng-href="" >忘記密碼?</a></div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form" >

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username"  placeholder="email" ng-model="email">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="password" ng-model="pass">
                        </div>



                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> 保持登入
                                </label>                              
                            </div>
                            <div class="alert alert-danger" ng-show="errPwd">密碼錯誤或沒有此帳號</div>
                             
                        </div>


                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                <button id="btn-login" class="btn btn-success" ng-click="yLogin()">帳號登入</button>
                                <button id="btn-fblogin" class="btn btn-primary" ng-click='fbLogin()'>Facebook登入</button>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    還沒有註冊帳號?
                                    <a href ng-click="signupView = !signupView">
                                            快按這裡註冊!
                                        </a>
                                </div>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-show="signupView">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">註冊一個帳號!</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href ng-click="signupView = !signupView">登入</a></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form">

                        <!--<div id="signupalert" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>-->



                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="eMail" placeholder="Email 地址" ng-model="createEmail">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">姓名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="userName" placeholder="姓名" ng-model="createName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">設定密碼</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passWd" placeholder="Password" ng-model="createPw" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-12">
                                <button id="btn-signup" type="button" class="btn btn-info" ng-click='createUser()'><i class="icon-hand-right"></i>註冊帳號</button>
                                
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>