<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">驗收-雙規(仮)</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/users">管理專案</a>
                </li>
                <li>
                    <a href="#/projects">瀏覽專案</a>
                </li>
                <li>
                    <a href="#">關於驗收</a>
                </li>
                <li>
                    <a href="#" ng-bind="uid"></a>
                </li>
                <ul class="nav navbar-nav pull-right">
                    <li class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="authObj.$unauth()">登出</button>
                    </li>
                </ul>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="margin-top:5px;">專案管理
                    <small>{{editProject.pName}}</small>
                </h1>
        </div>
    </div>
    <!-- /.row -->
    <div>
        <div class='col-md-3'>
            <div class="panel panel-info">
                <div class="panel-heading text-right">專案列表<span class="badge ">6</span></div>
                <div class="panel-body fixed-panel">


                    <div class="row" style="margin-bottom:15px;">
                        <div ng-repeat="p in pLists">
                            <p class="col-md-12">

                                <a ng-href="#/users/{{uid}}/{{p.$id}}" ng-bind="p.$value" class="btn btn-default col-md-9"></a>

                                <button class="btn btn-danger" ng-click="removeP(p.$id) "><span class="glyphicon
                                glyphicon-remove "></span></button>
                            </p>
                        </div>
                    </div>
                    <input type="text " name="newPname " ng-show="newPfield " ng-model="newPname " placeholder="新增專案名稱
                                " class="form-control " required>


                    <button class="btn btn-primary form-control " ng-click="createProject() ">
                        <span class="glyphicon glyphicon-cloud-upload "></span> 新增一個專案
                    </button>



                </div>

            </div>
            <div class="panel panel-info">
                <div class="panel-heading text-right"><strong> {{editProject.projectName}}</strong> 專案協作人員<span class="badge ">13</span></div>
                <div class="panel-body fixed-panel">
                    <div class="row" style="margin-bottom:15px;">
                        <div ng-repeat="(key,value) in editProject.sharelists">
                            <p class="col-md-12">

                                <a  ng-bind="value" class="btn btn-default col-md-9"></a>

                                <button class="btn btn-danger" ng-click="removeShare(key,value) "><span class="glyphicon
                                glyphicon-remove "></span></button>
                            </p>
                        </div>
                    </div>
                    <input type="text " name="sharename "  ng-model="inputItem.share" placeholder="請輸入email" class="form-control " required>


                    <button class="btn btn-primary form-control " ng-click="addShare()">
                        <span class="glyphicon glyphicon-user "></span> 增加專案協作人員
                    </button>


                </div>

            </div>
        </div>
        <div class='col-md-9'>
            <div class="panel panel-primary ">
                <div class="panel-heading ">
                    <div class="row ">
                        <div class="col-md-6 ">
                            <h3 style="margin-top:5px; "><strong>{{editProject.projectName}}</strong> 專案結構</h3>
                        </div>

                        <div class="col-md-3 col-md-offset-3 text-right ">
                            <h4 style="margin-top: 0px "> <span class="label label-success ">進行中</span></h4>
                            <uib-progressbar ng-show=false class="progress-striped active " type="warning " max="itemTotal
                                " value="itemDone " style="margin-bottom:0px; "><span style="color:white; white-space:nowrap; ">{{itemDone}} / {{itemTotal}}</span></uib-progressbar>
                        </div>
                    </div>
                </div>

                <div class="panel-body ">
                    <div class="row " style="border-bottom: 1px solid ">

                        <div class="col-sm-6 " ng-show=false>
                            <h4 style="margin-top: 0px "><span class="label label-info ">協作人員</span></h4>
                            <h4>
                                <ul class="list-inline ">
                                <li>{{editProject.creatorName}}</li>
                                <li></li>
                                <li></li>
                                </ul>
                                </h4>
                        </div>
                        <div class="col-sm-2 text-right ">
                            <h4 style="margin-top: 0px "> <span class="label label-info ">建立者</span></h4>
                            <h4>{{editProject.creatorName}}</h4>
                        </div>

                        <div class="col-sm-2 text-right " ng-show=false>
                            <toggle-switch ng-model="limit " knob-label="限當日 " class="switch-mini switch-info
                                " on-label="有 " off-label="無 " is-disabled="false "></toggle-switch>
                            <h4>{{editProject.createTime | date}}</h4>

                        </div>
                        <div class="col-sm-2 text-right ">
                            <h4 style="margin-top: 0px "> <span class="label label-info ">建立時間</span></h4>
                            <h4>{{editProject.createTime | date}}</h4>

                        </div>
                        <div class="col-sm-2 col-sm-offset-6 ">
                            <button type="button " class="btn btn-primary "><i class="fa fa-cloud-download "></i> 打包專案</button>
                        </div>

                    </div>
                    
                    <!-- 檔案的tab呈現 -->
                    <div class="row " style="height:560px;padding-top:10px; ">
                        <input type="text" ng-model="inputItem.text">
                        <button type="button " class="btn btn-link btn-lg " ng-click="createItem() ">
                            <span class="fa fa-plus-square-o "><small>新增類別或項目</small></span>
                        </button>
                        <uib-tabset>
                            <uib-tab ng-repeat="(key,value) in editProject.cats " heading="{{value.name}}" select="editProject.nowcat=key" >
                                <div class="col-md-2 portfolio-item text-center " ng-repeat="(a,b) in value.items ">
                                  <h4>{{b.name}}</h4>
                                    <a ng-href="/photo/{{editProject.$id}}/{{b.filename}}">
                                        <img style="margin-bottom:3px; " ng-src="https://placehold.it/105x70 " alt="
                                " ng-show="!b.checked ">
                                        <img style="margin-bottom:3px; " height="70 " width="105 " ng-src="/photo/{{editProject.$id}}/{{b.filename}}
                                " alt=" " ng-show="b.checked ">
                                    </a>
                                    <small>上傳時間{{b.uptime | date:'yyyyMMdd HH:mm:ss'}}</small>
                                    <a class="btn btn-danger btn-xs " ng-click="removeItem(a) "><i class="glyphicon
                                glyphicon-remove "></i> 刪除</a>
                                    <a class="btn btn-success btn-xs " href="# " ng-show=false><i class="fa fa-check-square-o "></i> </a>
                                    <a class="btn btn-warning btn-xs " href="# " ng-show=false><i class="fa fa-refresh
                                fa-spin "></i> 尚未完成</a>

                                </div>
                                <div class="col-md-2 portfolio-item text-center " ng-show=false>
                                    <h4>新增項目</h4>
                                    <div class="newcat " style="height:70px; ">

                                        <button type="button " class="btn btn-link btn-lg " ng-click="createItem(key) ">
                                            <span class="fa fa-plus-square-o fa-2x "></span>
                                        </button>

                                    </div>


                                </div>
                                <div class="col-md-2 portfolio-item text-center " ng-show=false>
                                    <h4>批次新增</h4>
                                    <div class="newcat " style="height:70px; ">
                                        <button type="button " class="btn btn-link btn-lg ">
                                            <span class="fa fa-list-ol fa-2x "></span>
                                        </button>
                                    </div>
                                </div>
                            </uib-tab>


                            <uib-tab select="editProject.nowcat='' ">
                                <uib-tab-heading>
                                    <i class="glyphicon glyphicon-folder-open "></i> 管理分類
                                </uib-tab-heading>
                                <div class="col-md-2 portfolio-item text-center " ng-repeat="(key,value) in editProject.cats
                                " >
                                    <h4>{{value.name}}</h4>
                                    <a style="height:70px; width:105px">
                                        <img style="max-width: 100% ;margin-bottom:3px; " src="images/folder_blue.png" alt=" ">
                                    </a>
                                    <a class="btn btn-danger btn-xs " ng-click="removeCat(key) "><i class="glyphicon glyphicon-remove "></i> 刪除</a>
                                    <uib-progressbar ng-show=false class="progress-striped active " type="warning
                                " max="itemTotal " value="itemDone " style="margin-bottom:0px; ">
                                        <span style="color:white; white-space:nowrap; ">{{itemDone}} / {{itemTotal}}</span>
                                    </uib-progressbar>
                                </div>
                                <div class="col-md-2 portfolio-item text-center " ng-show=false>
                                    <h4>新增分類</h4>
                                    <div class="newcat " style="height:70px; ">
                                        <button type="button " class="btn btn-link btn-lg " ng-click="createCat() ">
                                            <span class="fa fa-plus-square-o fa-2x "></span>
                                        </button>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="row ">


                        <div class="col col-md-3 col-md-offset-9 ">

                            <button type="button " class="btn btn-primary " ng-show=false>儲存專案</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>